/* You can add global styles to this file, and also import other style files */
*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
img{
    width: 500px;
    height: 600px;
}