<div style="text-align:center">
    <h1 class="text-primary">Departamentos</h1>
    <table class="table table-bordered w-75 mx-auto">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Nombre</th>
                <th>Localidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for(i of departamentos; track $index){
                <tr>
                    <td>{{i.numero}}</td>
                    <td>{{i.nombre}}</td>
                    <td>{{i.localidad}}</td>
                    <td>
                        <a class="btn btn-success mx-3" [routerLink]="['/', 'details', i.numero]">Details </a>
                        <a class="btn btn-primary" [routerLink]="['/', 'update', i.numero]">Update </a>
                        <button (click)="deleteDepart(i.numero)" class="btn btn-danger mx-3"> Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>